<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305154599076-uchv9pjrgr0n7pcuv86vel544053e925.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305154599076-uchv9pjrgr0n7pcuv86vel544053e925</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ1UtQk4cS1RieCRfw8v2E2AazT9rXH0s</string>
	<key>GCM_SENDER_ID</key>
	<string>305154599076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>istvankreisz.InfluTrader</string>
	<key>PROJECT_ID</key>
	<string>hype-trader</string>
	<key>STORAGE_BUCKET</key>
	<string>hype-trader.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305154599076:ios:ca58a19aaaf2acfc231e31</string>
</dict>
</plist>